*.zip
*.bson
*.json
!test_scores.json
!miserables.json
.ipynb_checkpoints
activity_failures
xml_failures
__pycache__
*.pyc
*~
*.pem
*.bak
*.pickle
*.pkl
*.tar.gz
graph_root_ref.txt
iati_text.txt
.DS_Store
