<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AidSight - Data-Driven Development</title>

    <!-- jQuery -->
     <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

    {% block head_pre_custom %}
    {% endblock %}

    <!-- Custom CSS -->
    <link href="/static/css/main.css" rel="stylesheet" />

    {% block head_post_custom %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-play-circle"></i>  <span class="light">AidSight</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#about">What is Aidsight?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/search">Try it</a>
                    </li>
                    <!-- Old version with dropdown menu for tools-->
                    <!--li>
                        <a class="page-scroll dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="/#tools">Tools</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="/search">Search for Organizations</a></li>
                      <li><a href="/funding">Track Funding Flows</a></li>
                      <li><a href="/quality">Explore Data Quality</a></li>
                    </ul>
                  </li-->
                    <li>
                        <a class="page-scroll" href="/infrastructure">Infrastructure</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#team">Team</a>
                    </li>
                    <!-- Deactivating Contact section for now -->
                    <!-- li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!--a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >AidSight</a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#about" onclick = $("#menu-close").click(); >About</a>
            </li>
            <li>
                <a href="#services" onclick = $("#menu-close").click(); >Tools</a>
            </li>
            <li>
                <a href="#portfolio" onclick = $("#menu-close").click(); >Team</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav -->

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-3 column">
                <h4><strong>AidSight</strong></h4>
                <p class="text-muted">Copyright &copy; AidSight 2016</p>
                <p class="text-muted">Image assets courtesy of <a href="http://www.globalgiving.org">GlobalGiving.org</a>, used with permission</p>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-3 column footer_list">
                  <h4>About</h4>
                  <ul class="nav">
                      <li><a href="/#about">What is AidSight?</a></li>
                      <li><a href="/infrastructure">How it's built</a></li>
                      <li><a href="/#team">Our Team</a></li>
                      <li><a href="https://github.com/nickhamlin/aidsight">See the code</a></li>
                  </ul>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-3 column footer_list">
                  <h4>Other IATI Resources</h4>
                  <ul class="nav">
                      <li><a href="http://iatistandard.org/">About the standard</a></li>
                      <li><a href="http://www.iatiregistry.org/">Registry of organizations</a></li>
                      <li><a href="https://www.iatistudio.com/">Visualize Raw IATI data</a></li>
                  </ul>
              </div>

                <div class="col-xs-6 col-md-3 column footer_list">
                    <h4>Our Program</h4>
                    <ul class="nav">
                        <li><a href="https://datascience.berkeley.edu/">DataScience@Berkeley</a></li>
                        <li><a href="http://www.ischool.berkeley.edu/">School of Information</a></li>
                        <li><a href="http://www.berkeley.edu/">UC Berkeley</a></li>
                    </ul>
                </div>
            </div>
            <!--/row-->
        </div>
    </footer>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/main.js"></script>

    <!-- Custom Theme JavaScript -->
    {% if title %}
      <script>
      // jQuery to collapse the navbar on scroll
      function collapseNavbar() {
          if ($(".navbar").offset().top > 50) {
              $(".navbar-fixed-top").addClass("top-nav-collapse");
          } else {
              $(".navbar-fixed-top").removeClass("top-nav-collapse");
          }
      };

      $(window).scroll(collapseNavbar);
      $(document).ready(collapseNavbar);
      </script>
    {% endif %}

</body>

</html>
