{% extends "layout.html" %}
{% block content %}

<!-- Portfolio -->
<section id="team" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Our Team</h2>
                <hr class="small">


                <div class="row">
                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="static/img/natarajan.png">
                            </a>
                            <h4><strong>Natarajan Krishnaswami</strong>
                            </h4>
                            <ul class="list-unstyled bio">
                                <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:nk@aidsight.com">nk@aidsight.com</a>
                                </li>
                                <li><i class="fa fa-linkedin fa-fw"></i>  <a href="https://www.linkedin.com/in/nkrishnaswami">nkrishnaswami</a>
                                </li>
                                <li><i class="fa fa-twitter fa-fw"></i>  <a href="#">@nkrishnaswami</a>
                                </li>
                                <li><i class="fa fa-github fa-fw"></i>  <a href="https://github.com/nkrishnaswami">nkrishnaswami</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="static/img/nick.png">
                            </a>
                            <h4><strong>Nick Hamlin</strong>
                            </h4>
                            <ul class="list-unstyled bio">
                                <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:nick@aidsight.com">nick@aidsight.com</a>
                                </li>
                                <li><i class="fa fa-linkedin fa-fw"></i>  <a href="https://www.linkedin.com/in/nickhamlin">nickhamlin</a>
                                </li>
                                <li><i class="fa fa-twitter fa-fw"></i>  <a href="https://twitter.com/nicholashamlin">@nicholashamlin</a>
                                </li>
                                <li><i class="fa fa-github fa-fw"></i>  <a href="https://github.com/nickhamlin">nickhamlin</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="static/img/minchau.png">
                            </a>
                            <h4><strong>Minhchau Dang</strong>
                            </h4>
                            <ul class="list-unstyled bio">
                                <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:minhchau@aidsight.com">minhchau@aidsight.com</a>
                                </li>
                                <li><i class="fa fa-linkedin fa-fw"></i>  <a href="https://www.linkedin.com/in/holatuwol">holatuwol</a>
                                </li>
                                <li><i class="fa fa-twitter fa-fw"></i>  <a href="#">@holatuwol</a>
                                </li>
                                <li><i class="fa fa-github fa-fw"></i>  <a href="https://github.com/holatuwol">holatuwol</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="static/img/ted.png">
                            </a>
                            <h4><strong>Glenn "Ted" Dunmire</strong>
                            </h4>
                            <ul class="list-unstyled bio">
                                <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:ted@aidsight.com">ted@aidsight.com</a>
                                </li>
                                <li><i class="fa fa-linkedin fa-fw"></i>  <a href="https://www.linkedin.com/in/glenn-ted-dunmire">glenn-ted-dunmire</a>
                                </li>
                                <li><i class="fa fa-twitter fa-fw"></i>  <a href="#">@dunmireg</a>
                                </li>
                                <li><i class="fa fa-github fa-fw"></i>  <a href="https://github.com/dunmireg">dunmireg</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

{% endblock %}
